@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/fonts/icomoon.eot?3jdqu4');
  src:  url('../webfonts/fonts/icomoon.eot?3jdqu4#iefix') format('embedded-opentype'),
    url('../webfonts/fonts/icomoon.ttf?3jdqu4') format('truetype'),
    url('../webfonts/fonts/icomoon.woff?3jdqu4') format('woff'),
    url('../webfonts/fonts/icomoon.svg?3jdqu4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playstation:before {
  content: "\e901";
  color: #003791;
}
.icon-Xbox:before {
  content: "\e900";
  color: #107c10;
}
