
@media only screen and (max-width : 1200px)

	.nav
		li
			margin-right: 20px


@media only screen and (max-width : 992px)

	.header
		&__container
			padding-right: 60px


	.nav
		position: fixed
		display: block
		width: 320px
		height: 100%
		flex-direction: column
		right: -100%
		top: 74px
		z-index: -1
		background: rgba($dark, .95)
		transition: all .3s

		ul
			display: flex
			flex-direction: column
			justify-content: center
			margin-top: 40px
			margin-left: 40px

		li
			margin: 0
			margin-bottom: 10px

			a
				color: #fff
			
		&--active
			right: 0

	.hamburger
		display: block


	.footer
		padding: 15px

		&__up
			top: -15px

		a
			font-size: 12px

		&__container
			flex-direction: column
			text-align: center
			align-items: center

		&__logo
			font-size: 16px !important
		

	.soc
		&__item
			width: 45px
			height: 45px

		img
			width: 22px
			height: 22px


@media only screen and (max-width : 767px)
	.header


@media only screen and (max-width : 576px)
	.header
		padding: 15px

		&__btn
			display: none

		&__logo
			font-size: 30px
			line-height: 1

	.nav
		top: 60px

		&__btn
			display: flex
			flex-direction: column

			a
				margin: 0 40px 15px

				&:last-child
					margin-right: 40px

	.page--form__form
		padding: 15px

	.soc
		background: $blue


@media only screen and (max-width : 480px)
	.btn
		padding: 0 20px
		font-size: 14px









