
@media only screen and (max-width : 1200px)

	.nav
		li
			margin-right: 20px


@media only screen and (max-width : 992px)
	.points
		padding: 100px 0 50px

		&__list
			flex-wrap: wrap

		&__item
			width: 50%
			box-shadow: 0 2px 2px 0 rgba(255,255,255, .4)
			padding: 20px

		&__content
			background: rgba(#fff, .4)

	.faq
		&__container
			width: 100%

		&__item
			padding: 25px

			&_content
				padding-top: 20px
				padding-right: 40px

			&_header
				padding-right: 40px

			&--active
				padding: 25px 40px 25px

	.main--page
		margin-top: 50px


	.header
		padding: 10px 35px

		&__container
			padding-right: 60px


	.nav
		position: fixed
		display: block
		width: 320px
		height: 100%
		flex-direction: column
		right: -100%
		top: 50px
		z-index: -1
		background: rgba($dark, .95)
		transition: all .3s

		ul
			display: flex
			flex-direction: column
			justify-content: center
			margin-top: 40px
			margin-left: 40px

		li
			margin: 0
			margin-bottom: 10px

			a
				color: #fff
			
		&--active
			right: 0

	.hamburger
		display: block


	.footer
		padding: 15px

		&__up
			top: -15px

		a
			font-size: 12px

		&__container
			flex-direction: column
			text-align: center
			align-items: center

		&__logo
			font-size: 16px !important
		

	.soc
		&__item
			width: 45px
			height: 45px

		img
			width: 22px
			height: 22px


@media only screen and (max-width : 767px)
	h1
		margin-bottom: 10px

	.faq 
		background-size: cover


@media only screen and (max-width : 576px)
	.header
		padding: 10px 15px

		&__btn
			display: none

		&__logo
			font-size: 30px
			line-height: 1

	.nav
		top: 50px

		&__btn
			display: flex
			flex-direction: column

			a
				margin: 0 40px 15px

				&:last-child
					margin-right: 40px

	.page--form__form
		padding: 15px

	.soc
		background: $blue


@media only screen and (max-width : 480px)
	.btn
		padding: 0 20px
		font-size: 14px

	.faq
		&__item
			width: 100%
			padding: 15px
			background: #fff

			&_content
				padding-right: 15px

			&_header
				padding-right: 15px

				span
					right: -10px
					top: -10px
					width: 25px
					height: 25px


	.points
		&__item
			width: 100%





