
@media only screen and (max-width : 1200px)
	.header
		&__logo
			font-size: 24px

		&__lang
			margin-right: 5px

		&__login
			&_list
				font-size: 14px
				margin-right: 20px

			&_price
				margin-right: 5px

			&_call
				margin-right: 5px

			img
				width: 17px

	.main__block
		.points__item

			b,
			span
				opacity: 1


	.currency__content
		padding: 25px

	.sbc
		&__card
			width: 225px
			height: 210px
			margin-bottom: 80px

		h2
			margin-bottom: 30px

		&__item_down
			margin-bottom: 30px

	.field
		background-position: 49% center

	.club
		&__item
			width: 14.2%
	.nav
		li
			margin-right: 20px

	.card__row
		a,
		h4
			padding: 40px 0

	.packs,
	.points,
	.opened,
	.currency
		padding: 100px 0 50px

	.opened

		&__header_info
			h2,
			p
				margin-right: 10px

			p
				font-size: 14px

	.points,
	.opened
		padding: 100px 0 50px
	
	.packs,
		padding: 120px 0 50px

	.soc__item
		width: 55px
		height: 55px


@media only screen and (max-width : 992px)
	.logo
		font-size: 24px

		img
			margin-right: 10px
			width: 40px

	.header__login_list
		margin-right: 10px

	.header__login_price
		font-size: 16px

	.currency
		&__wrap
			&_header
				font-size: 14px

				a,
				input
					width: 110px
					padding: 0 5px
					font-size: 14px !important

				input
					margin-right: 5px

					&::placeholder
						font-size: 14px

				span
					margin-right: 5px

				img
					width: 20px
					margin-left: 5px

				b
					font-size: 18px

			&_modal b
				font-size: 18px


		&__content
			padding: 15px
			background: rgba(255,255,255,.6)

	.modal--item
		padding: 30px

	.field
		&__item

			&--top
				&:nth-child(1)
					left: 32%


				&:nth-child(3)
					left: 68%

			&--center
				&:nth-child(1)
					left: 14%

				&:nth-child(3)
					left: 86%

			&--bottom
				&:nth-child(1)
					left: 10%
					top: 55px

				&:nth-child(2)
					left: 30%
					top: 85px

				&:nth-child(3)
					left: 50%
					top: 130px

				&:nth-child(4)
					left: 70%
					top: 85px

				&:nth-child(5)
					left: 90%
					top: 55px

	.opened
		&__content
			padding: 15px

		&__header
			margin-bottom: 15px

			&_btn
				justify-content: center
				width: 100%

			&_info
				width: 100%
				margin-bottom: 10px


		&__item
			width: 33%
			margin-bottom: 15px

	.club
		&__item
			width: 20%

		&__content
			padding: 15px 5px

	.card
		padding: 40px 0

		h3
			margin-bottom: 15px
	
	.profile
		&__content
			padding: 20px 15px

		&__header
			padding-bottom: 20px

			&_info
				width: 55%

				h3,
				p
					margin-bottom: 5px

			&_btn
				width: 40%

			&_avatar
				margin-right: 15px

		&__link
			padding: 20px 0

		
	.points
		
		&__list
			flex-wrap: wrap

		&__item
			width: 50%
			box-shadow: 0 2px 2px 0 rgba(255,255,255, .4)
			padding: 20px

		&__content
			background: rgba(#fff, .4)

	.faq
		&__container
			width: 100%

		&__item
			padding: 25px

			&_content
				padding-top: 20px
				padding-right: 40px

			&_header
				padding-right: 40px

			&--active
				padding: 25px 40px 25px

	.main--page
		margin-top: 50px


	.header
		padding: 10px 35px

		&__container
			padding-right: 60px


	.nav
		position: fixed
		display: block
		width: 320px
		height: 100%
		flex-direction: column
		right: -100%
		top: 68px
		z-index: -1
		background: rgba($dark, .95)
		transition: all .3s
		overflow: auto
		padding-bottom: 50px

		ul
			display: flex
			flex-direction: column
			justify-content: center
			margin: 40px
			text-align: right

		li
			margin: 0
			margin-bottom: 10px

			a
				color: #fff
			
		&--active
			right: 0

	.hamburger
		display: block


	.footer
		padding: 15px

		&__up
			top: -15px

		a
			font-size: 12px

		&__container
			flex-direction: column
			text-align: center
			align-items: center

		&__logo
			font-size: 16px !important
		

	.soc
		&__item
			width: 45px
			height: 45px

		img,
		span
			width: 22px
			height: 22px
			font-size: 25px


@media only screen and (max-width : 767px)
	.footer__soc
		margin-bottom: 20px


	.header__login
		display: none


	.nav__login
		display: flex
		flex-direction: column
		margin: 40px

		&_row
			display: flex
			justify-content: flex-end
			width: 100%
			margin-bottom: 15px


		.header__login_price
			width: 35%

		.header__login_list
			&:hover
				ul
					display: block

			ul
				margin: 0 0 90px 0 !important
				display: none
				z-index: 11

			a
				color: #999
				font-size: 14px

				&::before
					display: none

				&:hover,
				&:focus
					color: #999

		.header__login_price,
		.header__login_list
			font-size: 18px

	.currency
		&__content
			ul
				padding: 0 15% 15px

	.header__login
		&_price
			margin-right: 10px

		&_call
			margin-right: 10px

	.currency
		h2
			font-size: 24px
			margin-bottom: 20px

		&__wrap

			&_header
				flex-wrap: wrap
				justify-content: center
				padding-top: 20px
				margin-bottom: 20px


			&_modal
				padding: 10px

				b
					font-size: 14px

				div 
					a
						margin-right: 5px
						font-size: 14px
						padding: 7px

						&:last-child
							margin-right: 0

					b
						margin-right: 5px
						font-size: 14px

					span
						margin-right: 5px

			&_table td
				font-size: 12px


	.modal--item
		.packs__next,
		.packs__prev
			top: 50px
			transform: translate(0, 0)

		&__search
			margin-bottom: 45px

			input
				width: 100%

			button
				right: 25px

		&__slide
			margin-top: 20px !important

	.field
		padding-bottom: 50px
		background-position: 49% center

		&__item
			width: 85px
			height: 135px

			&--center
				&:nth-child(1)
					left: 14%
					top: 30px

				&:nth-child(3)
					left: 86%
					top: 30px

			&--bottom
				&:nth-child(1)
					left: 10%
					top: 55px

				&:nth-child(2)
					left: 30%
					top: 65px

				&:nth-child(3)
					left: 50%
					top: 130px

				&:nth-child(4)
					left: 70%
					top: 65px

				&:nth-child(5)
					left: 90%
					top: 55px

	.opened
		&__item
			width: 50%


	.club
		&__item
			width: 24%

			&::before,
			&::after
				opacity: 1

			p,
			a
				opacity: 1

	h1
		margin-bottom: 10px

	.card
		&__col
			width: 50%

		&__row
			width: 50%
			a
				flex-direction: column

			p
				text-align: center

			img
				margin-right: 0

			h4
				font-size: 18px

			b
				font-size: 20px

	.packs
		h2
			margin-bottom: 30px

		h3
			margin-bottom: 10px

		&__card
			margin-bottom: 15px

		&__item
			padding: 20px

	.reviews
		h2
			margin-bottom: 20px

		&__form
			padding: 15px
			margin-bottom: 20px

			&_textarea
				width: 48%

			&_line
				width: 48%

		&__item
			padding: 15px 15px 15px 40px

			&::before
				font-size: 50px
				left: 10px
				top: 10px

			p,
			time
				margin-bottom: 10px


@media only screen and (max-width : 576px)
	.header__login
		img
			width: 16px

		&_list
			font-size: 14px

	.main
		h2
			font-size: 24px

	.currency__wrap_modal div
		flex-wrap: wrap

		a
			width: 30%
			margin-bottom: 10px

	.opened
		&__header
			&_info
				flex-wrap: wrap

				h2
					width: 100%
					margin-bottom: 10px

				p
					margin-bottom: 10px

	.club
		&__item
			width: 32%

	.header
		padding: 10px 15px

		&__btn
			display: none

		&__logo
			line-height: 1

	.nav
		&__btn
			display: flex
			flex-direction: column

			a
				margin: 0 40px 15px

				&:last-child
					margin-right: 40px

	.page--form__form
		padding: 15px

	.soc
		border-radius: 8px

	.faq,
	.profile
		background-size: cover

	.profile
		&__content
			padding: 0

		&__wrap
			background: #fff
			padding: 10px

		&__header
			padding: 10px

			&_info
				font-size: 12px

		&__table
			td
				font-size: 12px

			th
				font-size: 10px

	.btn
		&--profile
			padding-left: 10px

		&--link
			width: 210px


@media only screen and (max-width : 480px)
	.main
		&__block
			padding-top: 45px
			
			&_header
				flex-wrap: wrap
				justify-content: space-around

			h2
				padding: 0 10px
				margin: 0 0 10px 0


	.currency
		&__wrap
			&_header
				font-size: 12px

			&_modal
				font-size: 12px

				h3
					font-size: 14px

				div
					a
						width: 50%
						max-width: 120px

			&_table td, th
				font-size: 10px
				border: 1px solid #fff

		&__content
			padding: 10px

			ul
				font-size: 13px
				padding: 0 15% 15px

	.field
		&__container
			padding-top: 25px

		&__item
			width: 65px
			height: 105px

			&::before
				width: 77px
				height: 14px

			&--top
				&:nth-child(1)
					left: 26%

				&:nth-child(3)
					left: 74%

			&--center
				&:nth-child(1)
					left: 14%
					top: 30px

				&:nth-child(2)
					top: 35px

				&:nth-child(3)
					left: 86%
					top: 30px

			&--bottom
				&:nth-child(1)
					top: 20px

				&:nth-child(2)
					left: 35%
					top: 40px

				&:nth-child(3)
					left: 50%
					top: 150px

				&:nth-child(4)
					left: 65%
					top: 40px

				&:nth-child(5)
					top: 20px

	.opened
		&__item
			width: 100%

	.club
		&__item
			width: 49%

	.card
		&__container
			flex-wrap: wrap

		&__row,
		&__col
			width: 100%

		&__col
			padding: 20px 0

		&__row
			a,
			h4
				padding: 15px 0

	.reviews
		h1,
		h2
			font-size: 24px

		&__form
			flex-direction: column-reverse

			&_line,
			&_textarea
				width: 100%

			&_line
				.btn
					display: none
			
			&_textarea

				textarea
					margin-bottom: 15px

				.btn
					display: block

			&_star
				margin-bottom: 15px

	.btn
		padding: 0 10px
		font-size: 14px

		&--link
			width: 100%
			margin: 0 auto 10px

	.profile

		&__header
			flex-wrap: wrap

			&_info,
			&_btn
				width: 100%

			&_info
				margin-bottom: 15px

		&__link
			flex-wrap: wrap
			padding-top: 0

		&--edit__header_info
			margin-right: 0


	.faq
		&__item
			width: 100%
			padding: 15px
			background: #fff

			&_content
				padding-right: 15px

			&_header
				padding-right: 15px

				span
					right: -10px
					top: -10px
					width: 25px
					height: 25px


	.points
		&__item
			width: 100%





