@import "libs"
@import "base"

.header
	position: fixed
	top: 0
	right: 0
	left: 0
	padding: 20px 35px
	transition: all .6s
	z-index: 1001

	&--active, &--menu
		background: rgba($dark, .95)
		padding: 5px 35px

	&--page
		background: $dark

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&__logo
		color: #fff
		font-size: 36px
		font-weight: 500
		line-height: 1

		&:hover,
		&:focus
			color: #fff

		b
			font-weight: 900

	&__btn
		a
			margin-right: 20px

			&:last-child
				margin-right: 0

	&__login
		display: flex
		justify-content: space-between
		line-height: 1

		img
			width: 25px

		&_price
			color: #78d500
			font-weight: 500
			margin-right: 40px
			padding: 4px

		&_call
			position: relative
			margin-right: 40px
			padding: 4px

			span
				position: absolute
				right: 3px
				top: 0
				width: 12px
				height: 12px
				background-color: $red
				border-radius: 50%
				font-size: 8px
				line-height: 12px
				text-align: center
				color: #fff

		&_list
			position: relative
			color: #fff
			font-size: 18px
			padding: 4px 25px 4px 4px

			&:hover,
			&:focus
				background: $blue

				span
					&::before
						transform: translate(0, -35%) rotate(45deg)

				ul
					display: block
					background: $blue


			span
				position: relative
				text-transform: uppercase

				&::before
					content: ''
					position: absolute
					right: -20px
					top: 45%
					transform: translate(0, -50%) rotate(-135deg)
					width: 10px
					height: 10px
					border-top: 2px solid #fff
					border-left: 2px solid #fff
					transition: all .6s

			ul
				display: none
				position: absolute
				padding: 4px 4px 4px 30px
				left: 0
				right: 0

			a
				color: #fff
				margin-bottom: 5px
				display: block

.nav
	ul
		display: flex
		justify-content: space-between

	li
		margin-right: 55px
		&:last-child
			margin-right: 0

		a
			position: relative
			z-index: 1
			text-transform: uppercase
			color: #fff

			&::before
				content: ''
				width: 0
				transform: scale(0)
				transition: all .3s
				position: absolute
				bottom: 0
				width: 100%
				height: 1px
				background-color: #fff
				z-index: -1

			&:hover,
			&:focus
				color: #fff
				text-decoration: none
				&::before
					transform: scale(1)

	&__btn
		display: none
	
	&__login
		display: none


.soc
	position: fixed
	top: 50%
	left: 0
	transform: translate(0, -50%)
	display: flex
	flex-direction: column
	z-index: 100

	&__item
		position: relative
		width: 80px
		height: 80px
		transition: all .6s
		box-shadow: 0 0 15px 0 rgba($dark, .15)
		overflow: hidden
		border-radius: 8px
		animation: hover-back .6s linear 1 forwards

		&:hover,
		&:focus
			background: rgba(#fafafa, .35)
			box-shadow: 0 0 15px 0 rgba(#888, .55)
			animation: hover .6s linear 1 forwards
			z-index: 1

		&:nth-child(1)
			background-color: #01c501
		&:nth-child(2)
			background-color: #4267b2
		&:nth-child(3)
			background-color: #be2e82
			

		img,
		span
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			max-width: 35px
			max-height: 35px
			font-size: 35px

	.icon-viber:before
		content: "\e902"
		color: #fff

	.icon-facebook2:before
		content: "\ea91"
		color: #fff

	.icon-instagram:before
		content: "\ea92"
		color: #fff

.main
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	min-height: 90vh

	&--page
		margin-top: 80px

.footer
	background: $dark
	padding: 20px 35px 35px
	
	a
		position: relative
		z-index: 1
		text-transform: uppercase
		color: #fff
		font-size: 16px	
		margin-bottom: 10px

		&::before
			content: ''
			width: 0
			transform: scale(0)
			transition: all .3s
			position: absolute
			bottom: 0
			width: 100%
			height: 1px
			background-color: #fff
			z-index: -1

		&:hover,
		&:focus
			color: #fff
			text-decoration: none
			&::before
				transform: scale(1)
	
	p
		color: #fff

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
	
	&__col
		display: flex
		flex-direction: column

	&__logo
		&::before
			display: none
	
	&__up
		position: absolute
		right: 0
		top: -20px
		width: 26px
		height: 26px
		background-color: #ffffff

		&::before
			content: ''
			position: absolute
			top: 60%
			left: 50%
			width: 10px
			height: 10px
			transform: translate(-50%, -50%) rotate(45deg)
			border-top: 3px solid $dark
			border-left: 3px solid $dark

		a
			display: block
			width: 100%
			height: 100%


.pagination
	margin-top: 35px
	display: flex
	justify-content: flex-end

	&__number
		line-height: 30px
		color: $dark
		margin-right: 25px

		b
			font-size: 24px

	&__button
		display: flex

		a
			position: relative
			display: block
			width: 30px
			height: 30px
			border: 1px solid $dark
			background: none
			margin-top: 0
			transition: all .6s
			opacity: 0.41

			&:hover,
			&:focus
				opacity: 1

			&::before
				content: ''
				position: absolute
				left: 50%
				top: 50%
				width: 10px
				height: 10px
				border-top: 2px solid $dark
				border-left: 2px solid $dark

			&:last-child

				&::before
					transform: translate(-75%, -50%) rotate(135deg)

			&:first-child
				margin-right: 10px

				&::before
					transform: translate(-25%, -50%) rotate(-45deg)

	&--white
		margin-top: 0
		&__number
			color: #fff

		&__button
			a
				border: 1px solid #fff

				&::before
					border-color: #fff


@import "page"
@import "media" // Always at the end